*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  background-color: rgb(49, 49, 49);
}

.navbar .nav-link {
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: all 300ms;
}

.nav-item .nav-link:hover,
.nav-item .nav-link.Aktif {
  color: white;
  border-bottom: 3px solid white;
}

/* Navbar End */

/* Seciton Home */
section {
  height: 100vh;
}

.container {
  padding: 5px;
}

.brb {
  border-bottom: 2px rgba(128, 128, 128, 0.824) solid;
  position: relative;
  top: 11.1rem;
}

.br {
  position: relative;
  bottom: 7.2rem;
  border-top: 2px rgba(128, 128, 128, 0.824) solid;
}

.profile-image {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.social-icons a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

.bttn {
  position: relative;
  background-color: transparent;
  color: black;
  border: white 2px solid;
  padding: 10px 10px;
  border-radius: 0px !important;
  text-transform: uppercase;
  font-weight: bold;
  width: 11rem;
  height: 3rem;
  z-index: 0;
  overflow: hidden;
}

.bttn a {
  text-decoration: none;
  color: black;
  transition: color 0.4s ease-in;
}
.bttn:hover a {
  color: white;
}

.bttn::before {
  content: "";
  width: 11rem;
  height: 3rem;
  position: absolute;
  top: 0;
  left: 0%;
  z-index: -10;
  background-color: white;
  animation: exit 6s alternate;
}

.bttn:hover::before {
  animation: effect 6s alternate;
}

@keyframes effect {
  0% {
    left: 0%;
  }
  10%,25%, 50%,90%{
    left: 100%;
  }
}

@keyframes exit {
  0% {
    left: 100%;
  }

  10%,25%, 50%,90% {
    left: 0%;
  }
}
/* Home End */

/* Section About */
.about {
  padding-top: 10rem;
}

.about-text-container {
  margin-top: -50px;
}

.about-text {
  line-height: 1.8;
  font-size: 1rem;
}
/* About End */

/* Seciton Hobi */
.card__article:hover .png {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

.hobi {
  padding-top: 5rem;
}

.card--container {
  padding-top: 40px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card--content {
  background-color: #333;
  padding: 20px;
  width: 350px;
  min-height: 350px;
  text-align: left;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.card--content:hover {
  transform: scale(1.05);
  background-color: white;
  color: black;
}

.card--content h2 {
  font-size: 45px;
  padding-bottom: 30px;
  text-align: right;
  margin: 0;
}

.card--content h3 {
  padding-bottom: 25px;
  font-size: 45px;
  font-weight: bold;
  margin: 10px 0;
}

.card--content p {
  font-size: 14px;
  /* color: #ccc; */
}
/* Hobi End */

/* Section Contact  */

.Contact {
  padding-top: 5rem;
}

.kontak {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.item-kontak {
  width: 50%;
  height: 50%;
}

.colorful-form {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 10px;
}

textarea.form-input {
  height: 100px;
}

.form-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #333;
  color:white;
}
.text-kontak {
  width: 40%;
  height: auto;
}

.isi-kontak {
  padding: 20px;
  margin: 10px;
  font-size: 22px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
}
/* Contact End */

/* Responsif */

@media (max-width: 768px) {

  .offcanvas {
    transition: all 300ms ease-in-out;
    width: 80% !important;
  }
  #home {
    padding: 20rem 0px 20px 20px;
  }

  .gambar {
    position: relative;
    bottom: 26rem;
  }

  section {
    height: auto;
    padding: 20px 20px;
  }

  .navbar-brand {
    padding-left: 20px;
  }

  h5 {
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  .brb,
  .br {
    font-size: 0.9rem;
  }

  .br {
    bottom: 15.5rem;
  }

  .brb {
    top: 1rem;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
  }
  .social-icons a {
    font-size: 0;
  }
  .social-icons {
    margin: auto;
  }

  .bttn{
    top: 50px;
    margin: auto;
  }

  .about {
    overflow-x: hidden;
    padding-top: 5rem;
  }
  .about-text-container {
    margin-top: 0;
  }
  .about-text {
    padding: 10px 10px;
    font-size: 0.9rem;
  }
  .spasi {
    display: none;
  }
  .card--container {
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }
  .card--content {
    max-width: 100%;
  }
  .text-kontak {
    width: 100%;
    flex-direction: column;
  }
  .isi-kontak {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }
  .isi-kontak i {
    border-left: 1px solid white;
    border-top: 1px solid rgba(255, 255, 255, 0.466);
    border-bottom: 1px solid rgba(255, 255, 255, 0.466);
  }

  .item-kontak {
    width: 100%;
    height: 50%;
  }
}